<html ng-app="ionicApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Backup Correos Luisa</title>
  
  <!-- Ionic CSS -->
  <link href="https://code.ionicframework.com/1.3.3/css/ionic.min.css" rel="stylesheet">
  
  <!-- Ionic y AngularJS (requeridos para Ionic v1) -->
  <script src="https://code.ionicframework.com/1.3.3/js/ionic.bundle.min.js"></script>
  
  <!-- Tu CSS y JS -->
  <link href="styles.css" rel="stylesheet">
  <script src="code.js"></script>
</head>

<body>

  <ion-nav-view></ion-nav-view>

  <script id="app-menu.html" type="text/ng-template">
    <ion-side-menus enable-menu-with-back-views="false">

      <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
          <ion-nav-back-button class="button-icon ion-ios-arrow-left">
          </ion-nav-back-button>

          <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content>

      <ion-side-menu side="right">
        <ion-header-bar class="bar-assertive">
          <h1 class="title">Left Menu</h1>
        </ion-header-bar>
        <ion-content>
          <ul class="list">
            <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
            <a href="#/app/emails/inbox" class="item" menu-close>
              Inbox
              <span class="badge badge-assertive">{{data.inboxCount}}</span>
            </a>
            <a href="#/app/emails/flagged" class="item" menu-close>
              Flagged
              <span class="badge badge-assertive">{{data.flaggedCount}}</span>
            </a>
            <a href="#/app/emails/sent" class="item" menu-close>
              Sent
              <span class="badge badge-assertive">{{data.sentCount}}</span>
            </a>
          </ul>
        </ion-content>
      </ion-side-menu>

    </ion-side-menus>
  </script>

  <script id="email-list.html" type="text/ng-template">
    <ion-view view-title={{data.title}}>

      <ion-nav-buttons side="primary">
        <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete"></button>
      </ion-nav-buttons>

      <ion-content>
        <ion-list show-delete="data.showDelete">

          <ion-item ng-repeat="email in emails" class="item-icon-left item-remove-animate" href="#/app/emails/{{data.mode}}/{{email.id}}">
            <i class="icon" ng-class="{'ion-ios-email-outline': email.was_read, 'ion-ios-email energized': !email.was_read}"></i>
            <h2>{{email.from}}</h2>
            <p>
              <span class="email-text">
              {{email.subject}}
            </span>
              <span class="item-note email-text">
              {{email.date | date:'EEE M/d/yyyy h:mm a'}}
            </span>
            </p>
            <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(email)">
            </ion-delete-button>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-view>
  </script>

  <script id="email-view.html" type="text/ng-template">
    <ion-view view-title="E-Mail">
      <ion-content>

        <div class="list card">

          <ion-item class="item-icon-left">
            <i class="icon ion-ios-email-outline"></i>
            <h2>{{email.from}}</h2>
            <p>
              <span class="email-text">
              {{email.subject}}
            </span>
              <span class="item-note email-text">
              {{email.date | date:'EEE M/d/yyyy h:mm a'}}
            </span>
            </p>
          </ion-item>

          <ion-item class="item-text-wrap email-body-text">
            {{email.body}}
          </ion-item>

        </div>
      </ion-content>
    </ion-view>
  </script>


  <script id="bloh.html" type="text/ng-template">
    <ion-view view-title="E-Mail View">
      <ion-content>
        E-Mail View
      </ion-content>
    </ion-view>
  </script>

</body>

</html>
